@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
  --bg: #121212;
  --secondary-bg: #1E1E1E;
  --text: #E0E0E0;
  --secondary-text: #B0B0B0;
  --primary: #1E90FF;
  --secondary: #32CD32;
  --decoration: #FF6B6B;
  --separator: #333333;
}

* {
  color: var(--text);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Outfit', sans-serif;
}

p, a, span {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}